<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Teste</h1>
<h2>aassssss22222222222222sfasdf</h2>
    <p>dfklsamçdfsicnouqwfejasecuoeicyerfchiuer</p>

    <form action="/send" method="POST">
      <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Tensão da Fonte</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="nome"></textarea>
        <div id="emailHelp" class="form-text">(V)</div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="dc">
        <label class="form-check-label" for="exampleCheck1">Circuito DC</label>
      </div>
      <button type="submit" class="btn btn-secondary">Calcular</button>
    </form>

    <p>
        <img src="../static/teste.png" class="rounded mx-auto d-block" alt="Grafico pedido">
    </p>

<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/script.js"></script>
</body>
</html>